@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.make-bold{
  font-weight: 700;
  border-bottom: 3px solid #fff;
}

.app-container {
  perspective: 1px;
  transform-style: preserve-3d;
}


// navbar styling begins here
.nav-links {
  display: flex;
  justify-content: space-between;
  padding: .5em 0; 

  .nav-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
  }

  .links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 3em;

    a {
      text-decoration: none;
      color: black;
      border-bottom: 2px solid black;
      font-size: 1.3em;
    }
  }

  li {
    margin-left: 3%;
    list-style-type: none;
  }
}


.fixed-menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

//navbar styling ends

//landing page styling begins

.hero-container {
  padding-top: 8em auto 0 auto;
  height: 60vh;

  &.intro-page {
    text-align: center;
  }
}

.name-title {
  letter-spacing: 2px;
  padding: 1em 0;
  font-size: 20px;
  font-weight: 300;
}

.about-me-content {
  margin-top: 200px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 2.2em;
  font-weight: 800;
  background: -webkit-linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-resume-btn {
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  padding: 1em 4em;
  background: transparent;
  border: 5px solid;
  border-image-source: -webkit-linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border-image-slice: 1;
  /* box-shadow: 10px 20px 40px 0px rgba(36, 37, 38, 0.3); */
}
//landing page styling ends




